.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.pages
03-analysis/student-performance/.DS_Store
03-analysis/student-performance/data/.DS_Store
*.csv
03-analysis/student-performance/data/.DS_Store
03-analysis/student-performance/.DS_Store
03-analysis/.DS_Store
03-analysis/student-performance/01-prep.RData
03-analysis/student-performance/Objective-1.html
03-analysis/student-performance/Objective-1_files/htmlwidgets-1.5.3/htmlwidgets.js
data/df.rda
.DS_Store
*.key
*.rda
inst/doc
.DS_Store
03-analysis/.DS_Store
